#!/usr/bin/make -f
# Copyright 2003-2005 Anibal Monsalve Salazar <anibal@debian.org>

package    = sctplib

namelib    = libsctplib
libname    = sctplib
libversion = 1
plib    = $(libname)$(libversion)
plibdev = $(libname)-dev
docdir = debian/tmp/usr/share/doc/$(package)
ldocdir = debian/$(plib)/usr/share/doc/$(plib)

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

STRIP = strip --remove-section=.comment --remove-section=.note

build:
	$(checkdir)
	ln -sf /usr/share/misc/config.sub /usr/share/misc/config.guess .
	CFLAGS="$(CFLAGS)" ./configure --prefix=/usr --enable-shared --disable-static
	$(MAKE) install DESTDIR=$(CURDIR)/shared
	-$(MAKE) distclean
	CFLAGS="$(CFLAGS)" ./configure --prefix=/usr --enable-static --disable-shared
	$(MAKE) install DESTDIR=$(CURDIR)/static
	touch build

clean:
	$(checkdir)
	-$(MAKE) distclean
	rm -f config.sub config.guess
	-rm -f build `find . -name "*~"`
	-rm -rf shared static debian/tmp debian/files* core debian/substvars debian/$(plib) debian/$(plibdev)

binary-indep: checkroot build
	$(checkdir)
	-rm -rf debian/tmp
	install -d debian/tmp/DEBIAN $(docdir)-doc $(docdir)-doc/sctplib
	cd sctplib && tar cf $(CURDIR)/$(docdir)-doc/sctplib/docs.tar --exclude Makefile.in docs
	cd sctplib && tar cf $(CURDIR)/$(docdir)-doc/sctplib/manual.tar --exclude Makefile.in manual
	cd sctplib && tar cf $(CURDIR)/$(docdir)-doc/sctplib/programs.tar --exclude .libs programs/{*.h,*.c,script*}
	cp -p debian/copyright $(docdir)-doc
	cp -p ChangeLog $(docdir)-doc/changelog
	cp -p debian/changelog $(docdir)-doc/changelog.Debian
	cd $(docdir)-doc && bzip2 -9 sctplib/*.tar
	cd $(docdir)-doc && gzip -9 changelog changelog.Debian
	dpkg-gencontrol -isp -p$(package)-doc
	cd debian/tmp && md5sum `find * -type f ! -regex "DEBIAN/.*"` > DEBIAN/md5sums
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

binary-arch: checkroot build
	$(checkdir)
	-rm -rf debian/tmp
	-rm -rf debian/$(plib) debian/$(plibdev)
	install -d debian/tmp/DEBIAN $(docdir) $(ldocdir)
	cd debian && install -d $(plib) $(plibdev)
	cd debian/$(plib)    && install -d DEBIAN usr/share/doc usr/lib
	cd debian/$(plibdev) && install -d DEBIAN usr/share/doc usr/lib
	cd debian/tmp && install -d usr/bin usr/man/man1
	cp -p ChangeLog $(docdir)/changelog
	cp -p debian/changelog $(docdir)/changelog.Debian
	cd $(docdir) && gzip -9 changelog changelog.Debian

	cd debian && install -m 644 shlibs $(plib)/DEBIAN

	cd shared/usr/lib && $(STRIP) --strip-unneeded $(namelib).so.*
	cd static/usr/lib && strip --strip-debug $(namelib).a

	mv shared/usr/lib/$(namelib).so.* debian/$(plib)/usr/lib
	mv shared/usr/lib/$(namelib).so debian/$(plibdev)/usr/lib
	mv shared/usr/lib/$(namelib).la debian/$(plibdev)/usr/lib
	mv static/usr/lib/$(namelib).a debian/$(plibdev)/usr/lib
	mv static/usr/include debian/$(plibdev)/usr

	cp -p debian/copyright $(ldocdir)
	cp -p ChangeLog $(ldocdir)/changelog
	cp -p debian/changelog $(ldocdir)/changelog.Debian
	cd $(ldocdir) && gzip -9 changelog changelog.Debian

	ln -s $(plib) debian/$(plibdev)/usr/share/doc/$(plibdev)

	dpkg-shlibdeps debian/$(plib)/usr/lib/*
	dpkg-gencontrol -isp -p$(plib) -Pdebian/$(plib)
	cd debian/$(plib) && md5sum `find * -type f ! -regex "DEBIAN/.*"` > DEBIAN/md5sums
	chown -R root.root debian/$(plib)
	chmod -x debian/$(plib)/usr/lib/*
	chmod -x debian/$(plibdev)/usr/lib/$(namelib).a
	chmod -x debian/$(plibdev)/usr/lib/$(namelib).la
	chmod -R go=rX debian/$(plib)
	dpkg --build debian/$(plib) ..

	dpkg-gencontrol -isp -p$(plibdev) -Pdebian/$(plibdev)
	cd debian/$(plibdev) && md5sum `find * -type f ! -regex "DEBIAN/.*"` > DEBIAN/md5sums
	chown -R root.root debian/$(plibdev)
	chmod -R go=rX debian/$(plibdev)
	dpkg --build debian/$(plibdev) ..

define checkdir
	test -f debian/rules
endef

binary: binary-indep binary-arch

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot
